#dialog-overlay {

	/* set it to fill the whil screen */
	width:100%; 
	height:100%;
	
	/* transparency for different browsers */
	filter:alpha(opacity=50); 
	-moz-opacity:0.5; 
	-khtml-opacity: 0.5; 
	opacity: 0.5; 
	background:#000; 

	/* make sure it appear behind the dialog box but above everything else */
	position:absolute; 
	top:0; left:0; 
	z-index:99; 

	/* hide it by default */
	display:none;
}


#dialog-box {
	
	/* css3 drop shadow */
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	
	/* css3 border radius */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	
	background:#eee;
	/* styling of the dialog box, i have a fixed dimension for this demo */ 
	width:350px; 
	
	/* make sure it has the highest z-index */
	position:absolute; 
	z-index:100; 

	/* hide it by default */
	display:none;
}

#dialog-box .dialog-content {
	/* style the content */
	text-align:left; 
	//padding:10px; 
	margin:13px;
	color:#666; 
	font-family:arial;
	font-size:11px; 
}

#dialog-box .dialog-content h1
{
    margin: 0px;
}

#dialog-box .dialog-content p
{
    padding-top: 10px;
}

.button {
	margin:20px auto 20px auto;
	margin-top: 36px;
	display: block;
}

input[type=submit],
input[type=reset],
.button a
{	
    text-align:center;
    background-color: #e33100;
    padding: 5px 10px 6px;
    color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	font-size:13px;
	/* css3 implementation :) */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	border:0px solid #093c75;	
}

input[type=submit]:hover,
.button a:hover {
	background-color: #c33100;	
}

input[type=reset]
{
  background-color: #424242;
}

input[type=reset]:hover {
	background-color: #323232;	
}

/* extra styling */
#dialog-box .dialog-content p {
	font-weight:700; margin:0;
}

#dialog-box .dialog-content ul {
	margin:10px 0 10px 20px; 
	padding:0; 
	height:50px;
}

input.dp-applied {
	float: left;
	margin-bottom: 14px;
}

a.dp-choose-date {
	float: left;
	width: 16px;
	height: 19px;
	//padding: 0;
	margin: 0px 3px 0;
	display: block;
	text-indent: -2000px;
	overflow: hidden;
	background: url(/img/calendar.png) no-repeat; 
}